In [1]:
import pandas as pd

In [2]:
band1_all = pd.read_csv('data_csv/band1_all.csv', parse_dates=['timestamp'])
band3_all = pd.read_csv('data_csv/band3_all.csv', parse_dates=['timestamp'])
hms_all = pd.read_csv('data_csv/hms_all.csv', parse_dates=['timestamp'])

In [3]:
path_all_df = pd.merge(pd.merge(band1_all, 
                                band3_all, 
                                how='inner', 
                                left_on='timestamp', 
                                right_on='timestamp',
                                validate='one_to_one'), 
                       hms_all, 
                       how='inner', 
                       left_on='timestamp',
                       right_on='timestamp',
                       validate='one_to_one')

In [4]:
path_all_df.head()

,timestamp,path_band1,path_band3,path_hms
0,2018-01-01 20:30:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...
1,2018-01-01 21:00:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...
2,2018-01-01 21:30:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...
3,2018-01-01 22:00:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...
4,2018-01-01 22:30:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...

In [5]:
daynight_all = pd.read_csv('data_csv/daynight_all.csv', index_col=['yday', 'hour', 'minute'])

In [6]:
daynight_all.head()

                                                      path_daynight
yday hour minute
1    0    0       /n/mickley/lab/HMS_vision/original/DayNight/Da...
          30      /n/mickley/lab/HMS_vision/original/DayNight/Da...
     1    0       /n/mickley/lab/HMS_vision/original/DayNight/Da...
          30      /n/mickley/lab/HMS_vision/original/DayNight/Da...
     2    0       /n/mickley/lab/HMS_vision/original/DayNight/Da...

In [7]:
def match_daynight_index(row):
    return daynight_all.at[(row.timestamp.dayofyear, row.timestamp.hour, row.timestamp.minute), 'path_daynight']

In [8]:
path_all_df['path_daynight'] = path_all_df.apply(match_daynight_index, axis='columns')

In [9]:
path_all_df = path_all_df.set_index('timestamp')
path_all_df.head()

,path_band1,path_band3,path_hms,path_daynight
timestamp,,,,
2018-01-01 20:30:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...,/n/mickley/lab/HMS_vision/original/DayNight/Da...
2018-01-01 21:00:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...,/n/mickley/lab/HMS_vision/original/DayNight/Da...
2018-01-01 21:30:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...,/n/mickley/lab/HMS_vision/original/DayNight/Da...
2018-01-01 22:00:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...,/n/mickley/lab/HMS_vision/original/DayNight/Da...
2018-01-01 22:30:00,/n/mickley/lab/HMS_vision/original/band1/RadF-...,/n/mickley/lab/HMS_vision/original/band3/RadF-...,/n/mickley/lab/HMS_vision/original/HMS/HMS_Den...,/n/mickley/lab/HMS_vision/original/DayNight/Da...

In [10]:
path_all_df.to_csv('data_csv/path_all.csv')

In [11]:
df = pd.read_csv('data_csv/path_all.csv')

In [12]:
len(df)

6884