In [1]:
import pandas as pd
from os import path

In [2]:
df = pd.read_csv('csv/data_512.csv', index_col=['timestamp', 'num'], parse_dates=['timestamp']).sort_index()
df.head()

                                                                band1_path  \
timestamp           num
2017-03-22 19:00:00 55   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    56   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    57   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    58   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    59   /n/holyscratch01/mickley_lab/hms_vision_data/5...

                                                                band3_path  \
timestamp           num
2017-03-22 19:00:00 55   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    56   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    57   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    58   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    59   /n/holyscratch01/mickley_lab/hms_vision_data/5...

                                                                  hms_path  \
timestamp           num
2017-03-22 19:00:00 55   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    56   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    57   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    58   /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    59   /n/holyscratch01/mickley_lab/hms_vision_data/5...

                         is_empty_bin  is_empty_den  hms_sum
timestamp           num
2017-03-22 19:00:00 55          False         False        0
                    56          False         False        0
                    57          False         False        0
                    58          False         False        0
                    59          False         False        0

In [3]:
def path_exists(row):
    return path.exists(row.band1_path) and path.exists(row.band3_path) and path.exists(row.hms_path)

In [4]:
df['exists'] = df.apply(path_exists, axis=1)

In [5]:
df[df.is_empty_den & df.exists]

                                                                band1_path  \
timestamp           num
2018-03-27 20:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
...                                                                    ...
2018-09-22 23:30:00 154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-09-23 00:00:00 153  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                                                                band3_path  \
timestamp           num
2018-03-27 20:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
...                                                                    ...
2018-09-22 23:30:00 154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-09-23 00:00:00 153  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                                                                  hms_path  \
timestamp           num
2018-03-27 20:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 21:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:00:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-03-27 22:30:00 180  /n/holyscratch01/mickley_lab/hms_vision_data/5...
...                                                                    ...
2018-09-22 23:30:00 154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...
2018-09-23 00:00:00 153  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    154  /n/holyscratch01/mickley_lab/hms_vision_data/5...
                    176  /n/holyscratch01/mickley_lab/hms_vision_data/5...

                         is_empty_bin  is_empty_den  hms_sum  exists
timestamp           num
2018-03-27 20:30:00 180          True          True     9625    True
2018-03-27 21:00:00 180          True          True     9625    True
2018-03-27 21:30:00 180          True          True     9625    True
2018-03-27 22:00:00 180          True          True     9625    True
2018-03-27 22:30:00 180          True          True     9625    True
...                               ...           ...      ...     ...
2018-09-22 23:30:00 154          True          True  1461119    True
                    176          True          True    29579    True
2018-09-23 00:00:00 153          True          True  1040607    True
                    154          True          True  1461119    True
                    176          True          True    29579    True

[9220 rows x 7 columns]